<%= stylesheet_link_tag 'results' %>
<h2>Search Results</h2>

<%if @results.blank?%>
<p>Nothing found.</p>
<%else%>

<table>
<tr>
  <th>Article Name</th>
  <th>Ranking</th> 
</tr>
	<% @results.each do |result| %>
	<tr>
		<% if false %>
		<% page = Page.where(:page_id => result.article_id).first %>
		<% base_link = 'http://de.wikipedia.org/wiki?curid=' %>
		<% link = base_link << "#{page.page_id}"%>
		<td><%= link_to(page.title, link) %></td>
		<td><%= result.ranking %></td>
		<% end %> 
		<% page = Page.where(:page_id => result.page_id).first %>
		<% base_link = 'http://de.wikipedia.org/wiki?curid=' %>
		<% link = base_link << "#{page.page_id}"%>
		<td><%= link_to(page.title, link) %></td>
		<td><%= result.score %></td>
	</tr>
	<%end%>
</table>

<%end%>
